<div id="err_modal" data-message="@TempData["message"]"
    class="fixed inset-0 bg-gray-800 bg-opacity-50 items-center justify-center hidden outline border-1 shadow-md p-4">
    <div class="bg-white rounded-2xl shadow-lg outline border w-1/3 flex flex-row space-y-4 justify-between items-center p-4 relative">
        <div>
            <h2 class="text-lg font-bold text-gray-800">
                Message:
            </h2>
            <span>
                @if (TempData["message"] != null)
                {
                    @TempData["message"]
                }
            </span>
        </div>
        <button class="rounded-full absolute right-0 top-0 p-2 focus:outline-none " onclick="hideErrorModal()">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-x-icon lucide-x">
                <path d="M18 6 6 18" />
                <path d="m6 6 12 12" />
            </svg>
        </button>
    </div>
</div>