@* Modal *@
<div id="userModal"
    class="fixed inset-0 bg-gray-800 bg-opacity-50 items-center justify-center hidden outline border-1 shadow-md">
    <div class="bg-white rounded-lg shadow-lg w-1/3">
        <div class="p-4 border-b flex flex-row justify-between">
            <h2 class="text-lg font-bold text-gray-800">User Details</h2>
            <button class="rounded-full p-2 focus:outline-none " onclick="hideModal()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-x-icon lucide-x">
                    <path d="M18 6 6 18" />
                    <path d="m6 6 12 12" />
                </svg>
            </button>
        </div>

        @* TABS *@
        <div class="border-b border-gray-200">
            <nav class="-mb-px flex space-x-4 px-4" aria-label="Tabs" role="tablist">
                <button id="tab-details" role="tab" aria-controls="panel-details" aria-selected="true"
                    class="tab-button border-indigo-500 text-indigo-600 whitespace-nowrap py-3 px-1 border-b-2 font-medium text-sm focus:outline-none focus:ring-2 focus:ring-indigo-300">
                    Details
                </button>
                <button id="tab-profile" role="tab" aria-controls="panel-profile" aria-selected="false"
                    class="tab-button border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap py-3 px-1 border-b-2 font-medium text-sm focus:outline-none focus:ring-2 focus:ring-indigo-300">
                    Profile
                </button>
                <button id="tab-actions" role="tab" aria-controls="panel-actions" aria-selected="false"
                    class="tab-button border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap py-3 px-1 border-b-2 font-medium text-sm focus:outline-none focus:ring-2 focus:ring-indigo-300">
                    Actions
                </button>
            </nav>
        </div>


        <div class="p-4 min-h-[150px]">
            <div id="panel-details" role="tabpanel" aria-labelledby="tab-details" class="tab-panel space-y-2 hidden">
                @* <p><strong>Full Name:</strong> <span id="modalFullName" class="text-gray-700"></span></p> *@
                <p>
                    <strong>Username:</strong>
                    <span id="modalUsername" class="text-gray-700 italic"></span>
                </p>
                <p>
                    <strong>Email:</strong>
                    <span id="modalEmail" class="text-gray-700 italic"></span>
                </p>
                <p>
                    <strong>Role:</strong>
                    <span id="modalRole" class="text-gray-700 italic"></span>
                </p>
                <p>
                    <strong>Private Status:</strong>
                    <span id="modalIsPrivate" class="text-gray-700 italic"></span>
                </p>
            </div>

            <div id="panel-profile" role="tabpanel" aria-labelledby="tab-profile" class="tab-panel space-y-2 hidden">
                <p>
                    <strong>Full Name:</strong>
                    <span id="modalFullName" class="text-gray-700 italic">Not Available</span>
                </p>
                <p>
                    <strong>Bio:</strong>
                    <span id="modalBio" class="text-gray-700 italic">Not Available</span>
                </p>
                <p>
                    <strong>Website:</strong>
                    <span id="modalWebsite" class="text-gray-700 italic">Not Available</span>
                </p>
                <p>
                    <strong>Location:</strong>
                    <span id="modalLocation" class="text-gray-700 italic">Not Available</span>
                </p>
            </div>

            @* TODO Actions *@
            <div id="panel-actions" role="tabpanel" aria-labelledby="tab-actions" class="tab-panel space-y-2 hidden">
                @* <p class="mb-3 text-sm text-gray-600">Perform actions for user: <strong id="actionUsername"
                        class="text-gray-800"></strong></p> *@
                <div class="actionButtons flex flex-col gap-2">
                    <button id="editUserDetailsBtn"
                        class="w-full text-left px-3 py-2 text-sm text-blue-700 bg-blue-50 hover:bg-blue-100 rounded border border-blue-200 focus:outline-none focus:ring-2 focus:ring-blue-300">
                        Edit User Details
                    </button>
                    <button id="ChangeRoleBtn" onclick="showChangeRoleForm()"
                        class="w-full px-3 py-2 text-sm text-orange-700 bg-orange-50 hover:bg-orange-100 focus:outline-none focus:ring-orange-300 shadow-md rounded-lg">
                        Change Role
                    </button>
                    <button id="DeleteUserBtn"
                        class="w-full text-left px-3 py-2 text-sm text-red-700 bg-red-50 hover:bg-red-100 rounded border border-red-200 focus:outline-none focus:ring-2 focus:ring-red-300">
                        Delete User
                    </button>
                </div>

                <!-- Change Role Form -->
                <form asp-action="ChangeRole" asp-controller="Admin" class="hidden flex-col gap-4 px-4" method="post" id="changeRoleForm">
                    <p class="mb-3 text-sm text-gray-600">Choose user role: </p>
                    <input type="hidden" id="userIdInp" name="user_id" value="" />
                    <div class="flex flex-col gap-4 p-4 w-full">
                        <div class="flex flex-row gap-4 items-center justify-center mb-4 w-full">
                            <label>
                                <input type="radio" name="role" value="user" />
                                User
                            </label>
                            <label>
                                <input type="radio" name="role" value="admin" />
                                Admin
                            </label>
                            <label>
                                <input type="radio" name="role" value="superadmin" />
                                Super Admin
                            </label>
                        </div>
                        <div class="flex flex-row justify-center items-center gap-2 w-full">
                            <button type="button" onclick="hideChangeRoleForm()"
                                class="px-4 py-2 bg-gray-500 text-white hover:bg-gray-600 focus:outline-none shadow-md rounded-lg w-full">
                                Go Back
                            </button>
                            <button type="submit"
                                class="w-full px-3 py-2 text-sm text-orange-700 bg-orange-50 hover:bg-orange-100 focus:outline-none focus:ring-orange-300 shadow-md rounded-lg">
                                Change Role
                            </button>

                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="p-4 border-t text-right">
            <button onclick="hideModal()" class="px-4 py-2 bg-gray-500 text-white rounded hover:bg-gray-600">
                Close
            </button>
        </div>
    </div>
</div>
</div>