@model pl.viewModel.ErrViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="w-full min-h-screen flex flex-col items-center justify-center bg-gray-100 dark:bg-gray-900">
    <div
        class="flex flex-col items-center justify-center w-full max-w-2xl p-6 mx-auto bg-white rounded-lg shadow-md dark:bg-gray-800">
        <h1 class="text-3xl font-bold text-gray-900 dark:text-white">Error</h1>
        <h2 class="mt-2 text-xl text-gray-700 dark:text-gray-300">An error occurred while processing your request.</h2>
        <p class="mt-4 text-gray-600 dark:text-gray-400">
            Status code: <strong>@Model.status</strong><br />
            Message: <strong>@Model.message</strong><br />
        </p>
    </div>
</div>